
<h2 id="buttons"> Buttons</h2><a class="m-1 btn btn-primary btn-sm " href="https://github.com">
  GitHub
</a><a class="m-1 btn btn-outline-primary btn-md " href="https://github.com">
  GitHub
</a><a class="m-1 btn btn-outline-dark btn-lg " href="https://github.com">
  GitHub
</a><a class="m-1 btn btn-outline-primary btn-md btn-block" href="https://github.com">
  GitHub
</a><details>

    <summary class="text-monospace">View Code...</summary><figure class="highlight"><pre><code class="language-liquid" data-lang="liquid"><span class="p">{%</span><span class="w"> </span><span class="nt">include</span><span class="w"> </span><span class="nx">elements/button.html</span><span class="w"> </span><span class="nx">link="https://github.com</span><span class="s2">" text="</span><span class="nv">GitHub</span><span class="s2">" style="</span><span class="nv">primary</span><span class="s2">" size="</span><span class="nv">sm</span><span class="s2">" %}
{% include elements/button.html link="</span><span class="nx">https://github.com</span><span class="s2">" text="</span><span class="nv">GitHub</span><span class="s2">" %}
{% include elements/button.html link="</span><span class="nx">https://github.com</span><span class="s2">" text="</span><span class="nv">GitHub</span><span class="s2">" style="</span><span class="nv">outline-dark</span><span class="s2">" size="</span><span class="nv">lg</span><span class="s2">" %}
{% include elements/button.html link="</span><span class="nx">https://github.com</span><span class="s2">" text="</span><span class="nv">GitHub</span>"<span class="w"> </span><span class="na">block</span><span class="o">=</span><span class="kc">true</span><span class="w"> </span><span class="p">%}</span></code></pre></figure><blockquote>
            <p>To <strong>center</strong> your buttons, surround it with the following HTML tag:<br /> <code class="language-plaintext highlighter-rouge">&lt;p class="text-center"&gt; {% include ... %} &lt;/p&gt;</code></p>

        </blockquote><blockquote>
            <p>Know more about buttons from <a href="https://getbootstrap.com/docs/4.1/components/buttons/">Bootstrap Buttons</a></p>

        </blockquote></details>
