<!-- GitHub Buttons -->
<script async defer src="/assets/js/buttons.js"></script>

<!-- jQuery CDN -->
<script src="/assets/js/jquery-3.5.1.min.js"></script>

<!-- Popper.js CDN -->
<script src="/assets/js/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="/assets/js/wow.min.js"></script>
<script> new WOW().init(); </script>

<!-- Initialize all tooltips -->
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
