.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1em;
  padding: 0 2rem;
}

.site-masthead h1 {
  margin: 0em auto;
  color: $highlight-text-color;
  font-size: 3em;
  @media (min-width: $on-tablet) {
    font-size: 4em;
  }
}

.site-masthead h3,h4,h5 {
  color: $muted-text-color2;
  margin: 1em auto;
}

.site-masthead .img-circle {
  margin: 1em auto;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.site-masthead .img-circle img {
  width: 100%;
  height: auto;
  margin-top: -10px;
  margin-left: -5px;
}

.site-masthead p {
  margin: 2em auto;
  color: $highlight-text-color;
  max-width: 75%
}
