$brand-color:          #11131c;
$highlight:            lighten($brand-color, 35%);
$text-color:           #11131c;
$muted-text-color2:    #f0edf2;
$muted-text-color:     #f0edf2;
$highlight-text-color: #f0edf2;
$font-family:          "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:          375px;
$on-tablet:            768px;
$on-laptop:            960px;
$on-desktop:           1200px;
