.webmention__author a {
	text-decoration: none;
  box-shadow: none;
}

.webmention__author a:hover {
	text-decoration: none;
  box-shadow: none;
}

.webmention {
  font-size: 14px;
}

img.webmention__author__photo {
  width: 50px;
  max-width: 50px;
  border-radius: 5px;
  margin-right: 400px;
}

li.webmentions__item  {
  list-style-type: none;
  list-style-position: inside;
}

.search-box {
  box-shadow: none !important;
}

/* Reset */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */

.marfa .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.marfa .hidden {
  display: none;
}

/* Spacing */

.marfa .highlight, h1, h2, h3, p, .post-body ul, .dates, .bio li, audio, video, pre ::before {
  margin-top: 1em;
}

/* Base */

:root {
  --accent-color: 40, 2, 135;
  --accent-dark: rgba(var(--accent-color), 1);
  --accent-light: rgba(var(--accent-color), 0.2);
}

html {
  padding: 20px;
}

html, body.marfa {
  margin: 0;
}

body.marfa {
  font: 17px "system-ui", -apple-system, Helvetica, Arial, sans-serif;
  color: #666;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Wrapper */

.marfa #wrapper {
  max-width: 600px;
  margin: 0 auto;
}

/* Profile */

.marfa header a, .marfa header a:hover {
  box-shadow: none;
}

.marfa header h1 {
  margin: 0;
  font-weight: 800;
}

.marfa header h4 {
  color: #aaa;
  margin-top: 0;
  font-weight: 400;
}

.marfa .profile #wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 80px 0;
}

.marfa .profile #avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 1em;
  border-radius: 40px;
}

.marfa .bio li {
  list-style-position: outside;
}

.marfa .bio p:first-child {
  margin-top: 0;
}

/* Nav */

.marfa nav.main-nav {
  margin: 0 auto;
  z-index: 100;
  text-align: right;
  line-height: 2;
}

.marfa .left {
  text-align: left;
}

.marfa .right {
  text-align: right;
}

.marfa nav.main-nav a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;
}

.marfa nav.main-nav a.cta {
  background: #fff;
  color: var(--accent-dark);
  padding: 6px 14px;
  border: 2px solid var(--accent-light);
  border-radius: 20px;
  box-shadow: none;
}

.marfa nav.main-nav a.cta:hover {
  background: var(--accent-light);
  color: var(--accent-dark);
  border: 2px solid transparent;
}

/* Link style */

.marfa a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  box-shadow: inset 0 -2px 0 var(--accent-light);
  transition: all .35s;
  transition-timing-function: cubic-bezier(.7, 0, .3, 1);
  padding-bottom: 1px;
}

.marfa a:hover {
  box-shadow: inset 0 -2px 0 var(--accent-dark);
	color: #000;
}

/* Typography */

.marfa p, li {
  line-height: 1.7;
}

.marfa h1, .marfa h2, .marfa h3 {
  color: #000;
  font-weight: 600;
  line-height: 1.35;
}

.marfa h1 a, .marfa h2 a, .marfa h3 a {
  font-weight: 600;
}

.marfa h1  {
  font-size: 32px !important;
}

.marfa h2  {
  font-size: 25px !important;
}

.marfa h3  {
  font-size: 20px !important;
}

.marfa h4  {
  font-size: 17px !important;
}

.marfa p.small {
  font-size: 14px !important;
  display: block;
}

.marfa code.highlighter-rouge {
  background-color: #F5F5F5;
  border-radius: 5px;
  display: inline-block;
  padding: 1px 6px;
  color: #7F7F7F;
  font-size: 17px;
}

/* Post */

.marfa .post-body li {
  padding-left: 20px;
  list-style-type: circle !important;
}

.marfa .post-body p:first-child {
  margin-top: 0;
}

.marfa b, strong {
  font-weight: 500;
  color: #1E2025;
}
.marfa em, i {
  font-style: italic;
}

.marfa .post header {
  text-align:center;
}

.marfa blockquote {
  padding-left: 15px;
  border-left: 2px solid #eee;
  opacity: 0.8;
  font-style: italic;
  margin: 0 20px;
}

.marfa hr {
  display: block;
}

.marfa span.separator {
  display: block;
  margin: 42px 0;
  width: 100%;
}

.marfa span.divider {
  display: block;
  width: 100%;
  background-color: #eee;
  height: 1px;
  margin: 0 auto;
}

.marfa span.separator:last-child {
  display: none;
}

.marfa span.code { font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:17px; }

.marfa pre  {
  font-family:Menlo, Monaco, Courier;
  white-space:pre-wrap;
  padding:20px;
  background-color:#fdfdfd;
  overflow:auto;
  border-radius: 5px;
  background: #272b2d;
  font-family: "Source Code Pro",Menlo,monospace;
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 500;
  color: #d0d4d7;
}

.marfa table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

.marfa th,td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

.marfa table td,td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

.marfa tr>td {
  border-top: 1px solid #eaeaea;
}

.marfa tr:nth-child(odd)>td {
  background: #fcfcfc;
}

.marfa thead th,th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

.marfa img {
  max-width: 50%;
  border-radius: 5px;
}

.marfa p img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}


.marfa ul   {
  margin: 0;
  padding:0;
}

.marfa li  {
  list-style-type: circle;
  list-style-position: inside;
}

/* Post List */

.marfa #post-list li {
  list-style-type: none;
}

.marfa #post-list li:last-child {
  margin-bottom: 0;
}

.marfa #post-list h2 {
  margin-top: 0;
  line-height: 1.35;
}

/* Footer */

.marfa footer #wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 55px 0;
}

.marfa #footer {
  text-align: center;
}

.marfa #footer a, .marfa #results-container a {
  box-shadow: none;
  font-size: 13px;
  font-weight: 500;
}

.marfa #footer a:hover, .marfa #results-container a:hover {
  box-shadow: none;
	text-decoration: none;
}

.marfa #footer li {
  display: inline;
  padding: 0 10px;
}

.marfa #post-meta {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  border-top: 1px solid #eee;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 55px;
  color:#444;
  border-bottom: 1px solid #eee;
}

.marfa #post-meta div span {
  color: #aaa;
  font-weight: 500;
  display: block;
}

.marfa #post-meta div span.dark {
  color: #1E2025;

}

.marfa #post-meta div {
  float: left;
}

/* Post Page */

.marfa #header {
  border-bottom: 1px solid #eee;
}

.marfa h2.headline {
  margin-top: 0;
  margin-bottom: 50px;
}

.marfa .post {
  margin: 85px 0 0 0;
}

/* Post Navigation */

.marfa #post-nav {
  text-align:center;
  padding-top:20px;
  font-size:13px;
  font-weight:500;
  margin-top: 40px;
}

.marfa #post-nav span {
  position: relative;
}

.marfa #post-nav span.prev {
  float: left;
}

.marfa #post-nav span.next {
  float: right;
}

.marfa #post-nav span .arrow {
  position: relative;
  padding: 1px;
}

.marfa #post-meta img.avatar {
  height: 36px;
  width: 36px;
  float: left;
  margin-right: 15px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
  border-radius: 50%;
}

/* Others */

.marfa .dates {
  font-weight: 600;
  font-size: 13px;
  color: #bbb;
  width: 100%;
  text-transform: uppercase;
  padding-top: 5px;
}

/* Form */

.marfa #search input.field {
  width: 270px;
  height: 34px;
  font-size: 13px;
  font-weight: 400;
  padding-left: 12px;
  border: 2px solid #eee;
  margin-top: 20px;
  border-radius: 17px;
  -webkit-appearance: none;
}

/* Media Queries */

@media screen and (max-width: 540px) {

  .marfa footer #wrapper {
    padding: 50px 0;
  }

  .marfa .profile #wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 30px 0;
  }

  .marfa #post-meta {
    padding: 30px 0;
    margin-top: 50px;
  }

  .marfa .post {
    margin: 50px 0 0 0;
  }

  .marfa h1 {
    font-size: 28px;
  }

  .marfa h2 {
    font-size: 22px;
  }

  .marfa h3 {
    font-size: 19px;
  }

}
