<div class="h-card">
  <div class="container card card-body text-dark">
    <div class="row align-items-center">
      <div class="col-6">
        <a class="u-url u-uid" rel="me" href="https://{{ site.author.homepage }}/about/"><img class="u-photo" src="{{ site.author.image-full }}" /></a>
      </div>
      <div class="col-6">
        <div class="row pb-2">
          <div class="col-1">
            <i class="text-color-theme-muted fas fa-user"></i>
          </div>
          <div class="col-10 p-name">
            {{ site.title }}
          </div>
        </div>
        <div class="row pb-2" style="display: none;">
          <div class="col-4">
            <strong>Birthday:</strong>
          </div>
          <div class="col-8">
            <span class="dt-bday">{{ site.author.birthday }}</span>
          </div>
        </div>
        <div class="row pb-2" style="display: none;">
          <div class="col-4">
            <strong>Gender:</strong>
          </div>
          <div class="col-8">
            <span class="p-gender-identity">{{ site.author.gender }}</span>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-1">
            <strong><i class="text-color-theme-muted fas fa-envelope"></i></strong>
          </div>
          <div class="col-11 u-email">
            {{ site.author.email-academic }} <span class="muted small">(academic inquiries)</span>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-1">
            <i class="text-color-theme-muted fas fa-envelope"></i>
          </div>
          <div class="col-11 u-email">
            {{ site.author.email-other }} <span class="muted small">(other inquiries)</span>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-1">
            <i class="text-color-theme-muted fas fa-graduation-cap"></i>
          </div>
          <div class="col-10 p-job-title">
            {{ site.position }}
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-1">
            <i class="text-color-theme-muted fas fa-school"></i>
          </div>
          <div class="col-10 p-org">
            {{ site.affiliation }}
          </div>
        </div>
        <div class="row pb-2" style="display: none;">
          <div class="col-4">
            <strong>Note:</strong>
          </div>
          <div class="col-8">
            <span class="p-note">{{ site.description }}</span>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-1">
            <i class="text-color-theme-muted fas fa-globe-americas"></i>
          </div>
          <div class="col-10">
            <span class="p-locality">{{ site.author.locality }}</span>,
            <span class="p-region">{{ site.author.province }}</span>,
            <span class="p-country-name">{{ site.author.country }}</span>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-1">
            <i class="text-color-theme-muted fas fa-language"></i>
          </div>
          <div class="col-10">
            {% for language in site.author.languages %}
              <div class="row">
                <div class="col-12">
                  <span class="p-language" value="{{ language.code }}">{{ language.name }}</span> <span class="badge badge-theme badge-pill">{{ language.proficiency }}</span>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="row pb-2" style="display: none;">
          <div class="col-4">
            <strong>Handles:</strong>
          </div>
          <div class="col-8">
            <ul>
            {% for handle in site.author.handles %}
              <li class="p-nickname">{{ handle }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row pb-2" style="display: none;">
          <div class="col-4">
            <strong>Nicknames:</strong>
          </div>
          <div class="col-8">
            <ul>
            {% for name in site.author.nicknames %}
              <li class="p-nickname">{{ name }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>

      <div class="row pb-2">
        <div class="col-1">
          <i class="text-color-theme-muted fas fa-venus-mars"></i>
        </div>
        <div class="col-10">
          I prefer gender-neutral pronouns (e.g. <span class="u-pronoun font-weight-bold">{{ site.author.pronouns-pref }}</span>) in languages in which this is an option.
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-1">
        </div>
        <div class="col-10">
          I prefer masculine pronouns (e.g. <span class="u-pronoun font-weight-bold">{{ site.author.pronouns-other }}</span>, <span class="font-weight-bold">{{ site.author.pronouns-other-example }}</span>) when neutral pronouns are unavailable or difficult to use.
        </div>
      </div>
      <div class="row pb-2" style="display: none;">
        <div class="col-4">
          <strong>Dietary preference:</strong>
        </div>
        <div class="col-8 p-dietary-preference">
            I am an {{ site.author.dietary-preference }} but my order of preference for food is vegetarian > pescetarian > omnivorous.
        </div>
      </div>
    </div>
  </div>
  </div>
  <div style="display: none">
    <data class="p-given-name">Alex</data>
    <data class="p-additional-name">Nicolas</data>
    <data class="p-additional-name">Harrison</data>
    <data class="p-family-name">Kramer</data>
  </div>
</div>
