<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta content="{{ site.name }}" name="author">
  <meta content="{{ site.description }}" name="description">

  {% if page.url == "/" %}
  <title>{{ site.title }}</title>
  {% elsif paginator %}
  <title>{{ site.title }} - Page {{ paginator.page }}</title>
  {% else %}
  <title>{{ site.title }}{% assign exist_or_not = page.title | size %}{% if exist_or_not < 1 %} - Status{% else %} - {{ page.title }}{% endif %}</title>
  {% endif %}

  <link href="{{ "/" | relative_url  }}assets/css/marfa-style.css" rel="stylesheet">
  <link href="{{ "/" | relative_url  }}assets/css/marfa-highlight.css"rel="stylesheet">
  <link href="{{ "/" | relative_url  }}feed.json" title="{{ site.title }}" type="application/json" rel="alternate">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="/assets/css/all.min.css">

  <!-- Academicons CSS -->
  <link rel="stylesheet" href="/assets/css/academicons.min.css">

  {% webmentions_head %}

</head>

<body class="marfa">
  {% include marfa/marfa-navigation.html %}
  {% if page.profile %}
  {% include marfa/marfa-profile.html %}
  {% endif %}
  <section id="wrapper"{% if page.url == "/about/" %} class="bio"{% endif %}>
    {{ content }}
  </section>

  <footer id="footer">
    {% include footer.html %}
  </footer>
</body>
</html>
