---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  {% include menu.html %}
  <header class="site-masthead">

    {% if site.name %}
      <h1>
        {{ site.name }}
      </h1>

      <div class="img-circle"><img src="{{ site.image }}" /></div>

    {% endif %}
    {% if site.name %}
      <h3>
        {{ site.position }}, {{ site.department }}, {{ site.institution }}
      </h3>
      <p>
        <i>{{site.description}}</i>
      </p>
    {% endif %}
  </header>
{% endif %}
